.layoutpri {
    padding: 1%;
}
.layoutsec {
    padding: 1%;
}
.header {
    background-color: #006eb8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand {
    color: #fff;
    font-size: 4rem;
    margin: auto 0 auto 0;
}
.icon {
   display: flex; 
   justify-content: flex-end;
   align-items: center;
}

a {
    display: flex;
    align-items: flex-end;
}
.button {
    margin-left: 2rem;
}