.data_table {
    color: black;
}

thead {
    font-size: 20px;
}

td {
    font-size: 15px;
    text-align: center;
}

.ant-tag {
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding: 5px;
    text-align: center;
}
