body {
    display: grid;
}

.layout {
    height: 100%;
}
.layoutheader {
    background-color: #006eb8;
}

.brand {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 10%;
    background-color: #fff;
}
.logo {
    width: 75%;
}
.header {
    text-align: center;
    margin: 0.8em 0 0.5em 0;
    font-size: 3em;
}
.row {
    margin-top: 10%;
}
.mainCol {
    background-color: white;
    border-radius: 1rem;
 
}
.button {
    border-radius: 0.3em;
    width: 40%;
}
.input {
    border-radius: 7px;
}
.layoutfooter {
    width: 200%;
    height: auto;
}
.layoutfooter {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}